
<a id="github-link"
    class="icon" title="Github" aria-label="Github"
    href="https://github.com/{{ site.github_username }}">
  {% include svg/github.svg %}
</a>

<a id="linkedin-link"
    class="icon" title="LinkedIn" aria-label="LinkedIn"
    href="https://linkedin.com/in/{{ site.linkedin }}">
  {% include svg/linkedin.svg %}
</a>

<a id="phone-link"
    class="icon" title="(740) 415-8890" aria-label="(740) 415-8890"
    href="tel:{{ site.phone }}">
{% include svg/phone.svg %}
</a>

<a id="email-link"
    class="icon" title="Email" aria-label="Email"
    href="mailto:{{ site.email }}">
  {% include svg/email.svg %}
</a>