---
---

$sidebar-bg-color: #11778f;

img {
  display: inline-block !important;
}
@import "hydeout";

@media (min-width: 49rem) { body { flex-direction: row; height: 100vh; overflow-y: auto; -webkit-overflow-scrolling: touch; }
  body > * { max-height: 100vh; overflow-y: auto; -webkit-overflow-scrolling: touch; }
  /* Undo mobile CSS */
  #sidebar, .home #sidebar { width: 17rem; text-align: left; }
}

.copyright {
  font-size: .75em; }
  
input[type="text"], input[type="email"], input[type="search"], input[type="submit"], button, textarea { 
  padding: 1em 1.5em; border: 1px solid #e5e5e5; border-radius: 300px; margin-bottom: 1em; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif; 
}

textarea { width: 73%;  resize: none; }

button, input[type="submit"] { cursor: pointer; background: transparent; border-color: #e5e5e5; color: #1975C2; transition: color 0.6s ease-in-out, border-color 0.6s ease-in-out, background 0.6s ease-in-out; }
button:hover, input[type="submit"]:hover { background: #1975C2; border-color: #1975C2; color: white; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16); }

figcaption { font-size: .75em; text-align: center} 

.post-dates { margin-top: 0rem; margin-bottom: -0.5rem; color: #767676; font-size: 0.8em}

#sidebar .site-title { font-family: "Cantarell", serif; font-weight: normal; margin-top: 0; margin-bottom: 0.5rem; }

// Accessibility
a { color: #1975C2; text-decoration: none; }
a svg { fill: #1975C2; }
.posts-list li a:hover { color: #1975C2; text-decoration: none; }
.tags-list a .tag-count { background: #1975C2; color: rgba(255, 255, 255, 0.8); margin-left: 0.25em; border-radius: 1000px; font-size: 0.75em; padding-left: 0.6em; padding-right: 0.6em; }
blockquote { padding: .5rem 1rem; margin: .8rem 0; color: #757575; border-left: 0.25rem solid #e5e5e5; }

// Accessibility code snippets
code { padding: .25em .5em; font-size: 85%; color: #C04343; background-color: #F9F9F9; border-radius: 3px; }
/* Literal.Number */
.highlight .s { color: #C04343; }
/* Literal.String */
.highlight .na { color: #8B38D1; }
/* Name.Function */
.highlight .nl { color: #4467E9; }
/* Name.Namespace */
.highlight .nt { color: #2771B9; }
/* Literal.Number */
.highlight .m { color: #A46123; }
/* Text.Whitespace */
.highlight .mf { color: #A46123; }
/* Literal.Number.Float */
.highlight .mh { color: #A46123; }
/* Literal.Number.Hex */
.highlight .mi { color: #A46123; }
/* Literal.Number.Integer */
.highlight .mo { color: #A46123; }
/* Name.Attribute */
.highlight .nb { color: #4E7450; }

.highlight .n  { color: #4E7450; }
/* Comment.Preproc */
.highlight .c1 { color: #707070; }
/* Comment.Single */
.highlight .cs { color: #707070; }

.highlight .c  { color: #707070; }
/* Name.Builtin */
.highlight .nc { color: #008538; }

