---
---

$sidebar-bg-color: #11778f;

img {
  display: inline-block !important;
}
@import "hydeout";

@media (min-width: 49rem) { body { flex-direction: row; height: 100vh; overflow-y: auto; -webkit-overflow-scrolling: touch; }
  body > * { max-height: 100vh; overflow-y: auto; -webkit-overflow-scrolling: touch; }
  /* Undo mobile CSS */
  #sidebar, .home #sidebar { width: 19rem; text-align: left; }
}

.copyright {
  font-size: .75em; }
  
input[type="text"], input[type="email"], input[type="search"], input[type="submit"], button, textarea { padding: 1em 1.5em; border: 1px solid #e5e5e5; border-radius: 300px; margin-bottom: 1em; }
textarea { width: 56%; }

button, input[type="submit"] { cursor: pointer; background: transparent; border-color: #e5e5e5; color: #268bd2; transition: color 0.6s ease-in-out, border-color 0.6s ease-in-out, background 0.6s ease-in-out; }
button:hover, input[type="submit"]:hover { background: #268bd2; border-color: #268bd2; color: white; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16); }
